{#  Route en cours : pour rendre le lien actif #}
{% set currentPath = app.request.attributes.get('_route') %}

{# les Administrateurs ont une navbar différente #}
<nav class="navbar navbar-expand-lg {{ is_granted('ROLE_ADMIN') ? 'bg-danger' : 'bg-primary'}}" data-bs-theme="dark">
    <div class="container">
        <h1><a class="navbar-brand" href="#">Sortir !</a></h1>

        <div>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{ currentPath == 'sortie_index' ? 'active' : '' }}" href="{{ path('sortie_index') }}"
                    title="Accueil">
                    Accueil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"
                           title="Logout">
                            Logout
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ currentPath == 'participant_myprofile' ? 'active' : '' }}" href="{{ path('participant_myprofile') }}"
                           title="Gérer mon profil">
                            Mon profil
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ currentPath == 'app_login' ? 'active' : '' }}"  href="{{ path('app_login') }}"
                           title="Login">
                            Login
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           title="Administration">
                            Administration
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>